p {
    font-size: 30px;
}

#banner .inner p {
    font-size: 30px;
}

.title {
    margin-bottom: 10px;
    font-weight: bold;
}

ul {
    margin-bottom: 60px;
}

li {
    font-size: 25px;
}

.start {
    font-size: 36px;
}
